body {
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
h2 {
  margin: 0;
}


.chat-list {
  padding-left: 10px;
  border-bottom: 1px solid #eee;
  display: inline;
}
.chat-list__item {
  position: relative;
  display: flex;
  padding: 10px;
  padding-left: 10px;
  border-top: 1px solid #eee;
}
.chat-list__item__check {
  margin-top: 35%;
  text-align: center;
}
.chat-list__item__avatar {
  width: 60px;
  height: 60px;
  /* margin-right: 10px; */
  /* margin-top: 10px; */
  text-align: center;
}
.chat-list__item__content {
  flex: 1;
}
.chat-list__item__content__topBar {
  overflow: hidden;
  line-height: 32px;
}
.chat-list__item__content__title {
  float: left;
  font-size: 16px;
}
.chat-list__item__content__time {
  float: right;
  font-size: 12px;
  color: #aaa;
}
.chat-list__item__content__recentMsg {
  font-size: 14px;
  color: #aaa;
}
.chat-list__item__content__btn {
  float: right;
  font-size: 12px;
  color: #aaa;
}
.chat-nav {
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100%;
  background-color: #fff;
  border-top: 1px solid #eee;
}
.chat-nav__item {
  flex: 1;
  padding: 5px;
  text-align: center;
}
.chat-nav__item__icon {
  display: block;
  width: 40px;
  height: 40px;
  margin: 0 auto;
}
.chat-nav__item__name {
  font-size: 12px;
  color: #aaa;
}

.chat-nav_head {
  /* position: fixed; */
  top: 0;
  display: flex;
  width: 100%;
  height: 50px;
  background-color: #fff;
  border-top: 1px solid #eee;
  margin-bottom: 10px;
  padding-top: 20px;
}
.chat-nav_head_item1 {
  flex: 9;
  padding: 5px;
  padding-left: 50%;
  font-size: 20px;
}
.chat-nav_head_item2 {
  flex: 1;
  padding: 5px;
  text-align: center;
}

.item {
  display: flex;
  width: 100%;
  height: 60px;
}
.item-title {
  flex: 1;
  padding-top: 20px;
  padding-left: 30px;
}
.item-icons {
  flex: 4;
  display: flex;
  justify-content: space-around;
}

.item-icon {
  /* flex: 1; */
  width: 20px;
  height: 20px;
  padding: 20px;
}